.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }
  
#mob {
	display: flex;
	justify-content: center;
}

#bg {
	background-repeat: no-repeat;
    background-size: cover;
}

